@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/introjs.min.css" rel="stylesheet">

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Administrar</a></li>
    <li class="breadcrumb-item active">Clientes</li>
</ol>


<!-- ***************************************************************************************************** */
 //***************************************Clientes************************************************************** */
 //***************************************************************************************************** */-->


<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Clientes
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Agregar</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>ClienteID</th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Correo</th>
                    <th>Tipo Cliente</th>
                    <th>Activo</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade form" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="ClienteID" type="hidden" value="0" />

                <div class="section">
                    <h5>Datos Personales</h5>
                    <div class="row g-2">
                        <div class="col-12">
                            <label for="cedula" class="form-label">Cédula</label>
                            <input type="text" class="form-control validar-Cedula" id="cedula" autocomplete="off">
                        </div>
                        <div class="col-12">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control validar-letras" id="nombre" autocomplete="off">
                        </div>
                        <div class="col-12">
                            <label for="apellido1" class="form-label">Apellido1</label>
                            <input type="text" class="form-control validar-letras" id="apellido1" autocomplete="off">
                        </div>
                        <div class="col-12">
                            <label for="apellido2" class="form-label">Apellido2</label>
                            <input type="text" class="form-control validar-letras" id="apellido2" autocomplete="off">
                        </div>
                    </div>
                </div>

                <hr />

                <div class="section">
                    <h5>Datos de Contacto</h5>
                    <div class="row g-2">
                        <div class="col-12">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="text" class="form-control validar-correo" id="correo" autocomplete="off">
                        </div>
                        <div class="col-12">
                            <label for="tipoCorreoID" class="form-label">Tipo de Correo</label>
                            <select class="form-select" id="tipoCorreoID">
                                <option selected value="0">Seleccione un Tipo de Correo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="section">
                    <h5>Información del Cliente</h5>
                    <div class="row g-2">
                        <div class="col-12">
                            <label for="tipoClienteID" class="form-label">Tipo Cliente</label>
                            <select class="form-select" id="tipoClienteID">
                                <option selected value="0">Seleccione un Tipo de Cliente</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert" style="display:none;">
                            Todos los campos son obligatorios.
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- //***************************************************************************************************** */
 //***************************************Direcciones************************************************************** */
 //***************************************************************************************************** */-->

<div class="modal fade" id="DireccionesModal" tabindex="-1" aria-labelledby="DireccionesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="PagosModalLabel">Direcciones del Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-success" onclick="abrirModalDireccion(null)">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <table id="tablaDirecciones" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre Direccion</th>
                            <th>Direccion Detallada</th>
                            <th>Provincia</th>
                            <th>Canton</th>
                            <th>Distrito</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FormModalDireccion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Dirección</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="DireccionID" type="hidden" value="0" />
                <div class="row g-2">
                    <div class="col-12">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" autocomplete="off">
                    </div>
                    <div class="col-12">
                        <label for="direccionDetallada" class="form-label">Dirección Detallada</label>
                        <input type="text" class="form-control" id="direccionDetallada" autocomplete="off">
                    </div>
                    <div class="col-12">
                        <label for="provinciaID" class="form-label">Provincia</label>
                        <select class="form-select" id="provinciaID" onchange="cargarCantones()">
                            <option selected value="0">Seleccione una Provincia</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="cantonID" class="form-label">Cantón</label>
                        <select class="form-select" id="cantonID" onchange="cargarDistritos()">
                            <option selected value="0">Seleccione un Cantón</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="distritoID" class="form-label">Distrito</label>
                        <select class="form-select" id="distritoID">
                            <option selected value="0">Seleccione un Distrito</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeErrorDireccion" class="alert alert-danger" role="alert" style="display:none;">
                            Todos los campos son obligatorios.
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarDireccion()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- //***************************************************************************************************** */
 //***************************************Telefono************************************************************** */
 //***************************************************************************************************** */-->
<div class="modal fade" id="TelefonoModal" tabindex="-1" aria-labelledby="TelefonoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="TelefonosModalLabel">Teléfonos del Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-success" onclick="abrirModalTelefono(null)">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <table id="tablaTelefonos" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Numero de Teléfono</th>
                            <th>Tipo de Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FormModalTelefono" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Teléfono</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="TelefonoID" type="hidden" value="0" />
                <div class="row g-2">
                    <div class="col-12">
                        <label for="numeroTelefono" class="form-label">Número de Teléfono</label>
                        <input type="text" class="form-control validar-telefono" id="numeroTelefono" autocomplete="off">
                    </div>
                    <div class="col-12">
                        <label for="tipoTelefonoID" class="form-label">Tipo de Teléfono</label>
                        <select class="form-select" id="tipoTelefonoID">
                            <option selected value="0">Seleccione un Tipo</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeErrorTelefono" class="alert alert-danger" role="alert" style="display:none;">
                            Todos los campos son obligatorios.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarTelefono()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- //***************************************************************************************************** */
 //***************************************Pagos************************************************************** */
 //***************************************************************************************************** */-->

<div class="modal fade" id="PagosModal" tabindex="-1" aria-labelledby="PagosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="PagosModalLabel">Pagos del Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-success" onclick="abrirModalPagos(null)">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <table id="tablaPagos" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID Pago</th>
                            <th>Tipo de Pago</th>
                            <th>Descripción</th>


                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        
        <!-- Botón pequeño para iniciar el tutorial -->
        <button type="button" id="startTutorial" class="btn btn-info btn-sm ms-2">Iniciar Tutorial</button>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/intro.min.js"></script>
    <script>
        var tabladata;
        var tablaPagos;


        var clienteSeleccionado;
        var FilaSeleccionada;


        //***************************************************************************************************** */
        //***************************************Clientes************************************************************** */
        //***************************************************************************************************** */


        $(document).ready(function () {
            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarClientes", "Cliente")',
                    type: "GET",
                    datatype: "json"
                },
                "columns": [
                    { "data": "ClienteID" },
                    {
                        "data": "Cedula",
                        "render": function (data, type, row) {
                            var cedulaStr = data.toString();
                            if (cedulaStr.length === 9) {
                                // Formato para cédula de 9 dígitos: 0-1506-0701
                                return cedulaStr[0] + '-' + cedulaStr.slice(1, 5) + '-' + cedulaStr.slice(5);
                            } else if (cedulaStr.length === 10) {
                                // Formato para cédula de 10 dígitos: 1-1506-0701
                                return cedulaStr[0] + '-' + cedulaStr.slice(1, 5) + '-' + cedulaStr.slice(5);
                            } else {
                                // En caso de longitud inesperada, devuelve la cédula sin formato
                                return cedulaStr;
                            }
                        }
                    },
                    { "data": "Nombre" },
                    { "data": "Apellido1" },
                    { "data": "Apellido2" },
                    { "data": "Correo" },
                    { "data": "TipoCliente" },
                    {
                        "data": "Activo",
                        "render": function (data, type, row) {
                            if (data) {
                                return '<span class="badge bg-success">Si</span>';
                            } else {
                                return '<span class="badge bg-danger">No</span>';
                            }
                        }
                    },
                    { "data": "Fecha" },
                    {
                        "defaultContent": '<div class="btn-group">' +
                            '<button type="button" class="btn btn-primary btn-small btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-small ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>' +
                            '<button type="button" class="btn btn-info btn-small ms-2 btn-telefonos"><i class="fas fa-phone"></i></button>' +
                            '<button type="button" class="btn btn-secondary btn-small ms-2 btn-direcciones"><i class="fas fa-map-marker-alt"></i></button>' +
                            '<button type="button" class="btn btn-dark btn-small ms-2 btn-pagos"><i class="fas fa-money-bill"></i></button>' +
                            '</div>',
                        "orderable": false,
                        "searchable": false,
                        "width": "200px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
            });

            cargarTiposCliente();
            cargarTiposPago();
            cargarTiposCorreo();

            $('#tabla tbody').on('click', '.btn-editar', function () {

                FilaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(FilaSeleccionada).data();
                abrirModal(data);
            });

            $('#tabla tbody').on('click', '.btn-eliminar', function () {
                FilaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(FilaSeleccionada).data();
                eliminarCliente(data.ClienteID);
            });

            $('#tabla tbody').on('click', '.btn-activar-desactivar', function () {
                FilaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(FilaSeleccionada).data();
                activarDesactivarCliente(data.ClienteID, data.Activo);
            });

            $('#tabla tbody').on('click', '.btn-pagos', function () {
                FilaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(FilaSeleccionada).data();
                clienteSeleccionado = data.ClienteID;
                cargarPagosCliente(clienteSeleccionado);
                $("#PagosModal").modal("show");
            });

            $('#tabla tbody').on('click', '.btn-direcciones', function () {
                FilaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(FilaSeleccionada).data();
                clienteSeleccionado = data.ClienteID;
                cargarDireccionesCliente(clienteSeleccionado);
                $("#DireccionesModal").modal("show");
            });



            $('#tabla tbody').on('click', '.btn-telefonos', function () {
                FilaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(FilaSeleccionada).data();
                clienteSeleccionado = data.Cedula;
                cargarTelefonosCliente(clienteSeleccionado);
                $("#TelefonoModal").modal("show");
            });
        });

        function abrirModal(json) {
            $("#ClienteID").val(0);
            $("#cedula").val("");
            $("#nombre").val("");
            $("#apellido1").val("");
            $("#apellido2").val("");
            $("#correo").val("");
            $("#tipoCorreoID").val(0);
            $("#tipoClienteID").val(0);
            $("#mensajeError").hide();

            if (json != null) {
                $("#ClienteID").val(json.ClienteID);
                $("#cedula").val(json.Cedula);
                $("#nombre").val(json.Nombre);
                $("#apellido1").val(json.Apellido1);
                $("#apellido2").val(json.Apellido2);
                $("#correo").val(json.Correo);
                $("#tipoCorreoID").val(json.TipoCorreoID);
                $("#tipoClienteID").val(json.TipoClienteID);
                $("#exampleModalLabel").text("Editar Cliente");
            } else {
                $("#exampleModalLabel").text("Agregar Cliente");
            }

            $("#FormModal").modal("show");
        }

        function Guardar() {
            var Cliente = {
                ClienteID: parseInt($("#ClienteID").val()),
                Cedula: $("#cedula").val(),
                Persona: {
                    Nombre: $("#nombre").val(),
                    Apellido1: $("#apellido1").val(),
                    Apellido2: $("#apellido2").val(),
                    Correo: {
                        DireccionCorreo: $("#correo").val(),
                        TipoCorreoID: parseInt($("#tipoCorreoID").val())
                    }
                },
                TipoClienteID: parseInt($("#tipoClienteID").val()),
                Activo: true
            };

            if (Cliente.Cedula === "" || Cliente.Persona.Nombre === "" || Cliente.Persona.Apellido1 === "" || Cliente.Persona.Apellido2 === "" || Cliente.Persona.Correo.DireccionCorreo === "" || Cliente.Persona.Correo.TipoCorreoID === 0 || Cliente.TipoClienteID === 0) {
                $("#mensajeError").show();
                return;
            } else {
                $("#mensajeError").hide();
            }

            $.ajax({
                url: '@Url.Action("GuardarCliente", "Cliente")',
                type: "POST",
                data: JSON.stringify({ cliente: Cliente }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (Cliente.ClienteID == 0) {
                        if (data.resultado != 0) {
                            tabladata.ajax.reload();
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    } else {
                        if (data.resultado) {
                            tabladata.row(filaseleccionada).data(Cliente).draw(false);
                            filaseleccionada = null;
                            tabladata.ajax.reload();
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                }
            });
        }

        function eliminarCliente(clienteID) {
            swal({
                title: "¿Estás seguro?",
                text: "¡No podrás recuperar este archivo imaginario!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "¡Sí, bórralo!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("EliminarCliente", "Cliente")',
                    type: "POST",
                    data: JSON.stringify({ clienteID: clienteID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tabladata.row($(this).parents('tr')).remove().draw();
                            swal("¡Eliminado!", "El cliente ha sido eliminado.", "success");
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        }

        function activarDesactivarCliente(clienteID, activo) {
            var accion = activo ? "Desactivar" : "Activar";
            swal({
                title: "¿Estás seguro?",
                text: `El cliente será ${accion.toLowerCase()}do.`,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: `¡Sí, ${accion.toLowerCase()}!`,
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("ActivarDesactivarCliente", "Cliente")',
                    type: "POST",
                    data: JSON.stringify({ clienteID: clienteID, activo: !activo }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tabladata.ajax.reload();
                            swal(`${accion}ado!`, `El cliente ha sido ${accion.toLowerCase()}do.`, "success");
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        }

        function cargarTiposCorreo() {
            $.get('@Url.Action("ListarTiposCorreo", "Cliente")', function (data) {
                var correoDropdown = $("#tipoCorreoID");
                correoDropdown.empty();
                correoDropdown.append('<option value="0">Seleccione un Tipo de Correo</option>');
                $.each(data.data, function (index, item) {
                    correoDropdown.append($('<option>', {
                        value: item.TipoCorreoID,
                        text: item.Descripcion
                    }));
                });
            });
        }

        function cargarTiposCliente() {
            $.get('@Url.Action("ListarTipoCliente", "Gestionar")', function (data) {
                var tipoClienteDropdown = $("#tipoClienteID");
                tipoClienteDropdown.empty();
                tipoClienteDropdown.append('<option value="0">Seleccione un Tipo de Cliente</option>');
                $.each(data.data, function (index, item) {
                    tipoClienteDropdown.append($('<option>', {
                        value: item.TipoClienteID,
                        text: item.Descripcion
                    }));
                });
            }).fail(function () {
                console.error("Error al cargar los tipos de cliente.");
            });
        }

        //***************************************************************************************************** */
        //***************************************Pagos************************************************************** */
        //***************************************************************************************************** */


        function cargarTiposPago() {
            $.get('@Url.Action("ListarTiposPago", "Cliente")', function (data) {
                var pagoDropdown = $("#tipoPagoID");
                pagoDropdown.empty();
                pagoDropdown.append('<option value="0">Seleccione un Tipo de Pago</option>');
                $.each(data.data, function (index, item) {
                    pagoDropdown.append($('<option>', {
                        value: item.TipoPagoID,
                        text: item.Descripcion
                    }));
                });
            });
        }

       function cargarPagosCliente(clienteID) {
            if ($.fn.DataTable.isDataTable("#tablaPagos")) {
                $("#tablaPagos").DataTable().destroy();
            }

            $("#tablaPagos").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarPagosCliente", "Cliente")',
                    type: "GET",
                    data: { clienteID: clienteID },
                    datatype: "json"
                },
                "columns": [
                    { "data": "PagoID" },
                    { "data": "TipoPago" },
                    { "data": "Descripcion" }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
            });

            $('#tablaPagos tbody').on('click', '.btn-editar', function () {
                var data = $('#tablaPagos').DataTable().row($(this).parents('tr')).data();
                editarPago(data.PagoID);
            });

            $('#tablaPagos tbody').on('click', '.btn-eliminar', function () {
                var data = $('#tablaPagos').DataTable().row($(this).parents('tr')).data();
                eliminarPago(data.PagoID);
            });
        }

        function editarPago(pagoID) {
            // Implementar la lógica para editar el pago
        }

        function eliminarPago(pagoID) {
            swal({
                title: "¿Estás seguro?",
                text: "¡No podrás recuperar este pago!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "¡Sí, bórralo!",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("EliminarPago", "Cliente")',
                    type: "POST",
                    data: JSON.stringify({ id: pagoID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            swal("¡Eliminado!", "El pago ha sido eliminado.", "success");
                            $('#tablaPagos').DataTable().ajax.reload();
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        }

        function eliminarPago(pagoID) {
            swal({
                title: "¿Estás seguro?",
                text: "¡No podrás recuperar este archivo imaginario!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "¡Sí, bórralo!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("EliminarPago", "Cliente")',
                    type: "POST",
                    data: JSON.stringify({ pagoID: pagoID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tablaPagos.row($(this).parents('tr')).remove().draw();
                            swal("¡Eliminado!", "El pago ha sido eliminado.", "success");
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        }


        //***************************************************************************************************** */
        //***************************************Telefonos************************************************************** */
        //***************************************************************************************************** */

        var tablaTelefonos;
        var TelefonoSeleccionada;
        var FilaTelefonoSeleccionada;

        function cargarTelefonosCliente(Cedula) {
            if ($.fn.DataTable.isDataTable("#tablaTelefonos")) {
                $("#tablaTelefonos").DataTable().destroy();
            }

            tablaTelefonos = $("#tablaTelefonos").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarPorCliente", "Cliente")',
                    type: "GET",
                    data: { Cedula: Cedula },
                    datatype: "json",
                },
                "columns": [
                    { "data": "NumeroTelefono" },
                    { "data": "TipoTelefono" },
                    {
                        "defaultContent": '<div class="btn-group">' +
                            '<button type="button" class="btn btn-primary btn-small btn-editar-Telefono"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-small ms-2 btn-eliminar-Telefono"><i class="fas fa-trash"></i></button>' +
                            '</div>',
                        "orderable": false,
                        "searchable": false,
                        "width": "200px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
            });

            $('#tablaTelefonos tbody').on('click', '.btn-editar-Telefono', function () {
                var data = tablaTelefonos.row($(this).parents('tr')).data();
                abrirModalTelefono(data);
            });

            $('#tablaTelefonos tbody').on('click', '.btn-eliminar-Telefono', function () {
                var data = tablaTelefonos.row($(this).parents('tr')).data();
                eliminarTelefono(data.TelefonoID);
            });
        }



        function abrirModalTelefono(json) {
            $("#TelefonoID").val(0);
            $("#numeroTelefono").val("");
            $("#tipoTelefonoID").val(0);
            $("#mensajeErrorTelefono").hide();

            if (json != null) {
                $("#TelefonoID").val(json.TelefonoID);
                $("#numeroTelefono").val(json.NumeroTelefono);
                $("#tipoTelefonoID").val(json.TipoTelefonoID);
                $("#exampleModalLabel").text("Editar Teléfono");
            } else {
                $("#exampleModalLabel").text("Agregar Teléfono");
            }

            $("#FormModalTelefono").modal("show");
        }

        function GuardarTelefono() {
            var Telefono = {
                TelefonoID: parseInt($("#TelefonoID").val()),
                NumeroTelefono: $("#numeroTelefono").val(),
                TipoTelefonoID: parseInt($("#tipoTelefonoID").val()),
                Cedula: clienteSeleccionado
            };

            if (Telefono.NumeroTelefono === "" || Telefono.TipoTelefonoID === 0) {
                $("#mensajeErrorTelefono").show();
                return;
            } else {
                $("#mensajeErrorTelefono").hide();
            }

            $.ajax({
                url: '@Url.Action("GuardarTelefono", "Cliente")',
                type: "POST",
                data: JSON.stringify({ telefono: Telefono }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        tablaTelefonos.ajax.reload();
                        $("#FormModalTelefono").modal("hide");
                    } else {
                        $("#mensajeErrorTelefono").text(data.mensaje);
                        $("#mensajeErrorTelefono").show();
                    }
                },
                error: function (error) {
                    $("#mensajeErrorTelefono").text("Error Ajax");
                    $("#mensajeErrorTelefono").show();
                }
            });
        }

        function eliminarTelefono(telefonoID) {
            swal({
                title: "¿Estás seguro?",
                text: "¡No podrás recuperar este archivo imaginario!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "¡Sí, bórralo!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("EliminarTelefono", "Cliente")',
                    type: "POST",
                    data: JSON.stringify({ telefonoID: telefonoID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tablaTelefonos.row($(this).parents('tr')).remove().draw();
                            swal("¡Eliminado!", "El teléfono ha sido eliminado.", "success");
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        }

        function cargarTiposTelefono() {
            $.get('@Url.Action("ListarTiposTelefono", "Cliente")', function (data) {
                var tipoTelefonoDropdown = $("#tipoTelefonoID");
                tipoTelefonoDropdown.empty();
                tipoTelefonoDropdown.append('<option value="0">Seleccione un Tipo</option>');
                $.each(data.data, function (index, item) {
                    tipoTelefonoDropdown.append($('<option>', {
                        value: item.TipoTelefonoID,
                        text: item.Descripcion
                    }));
                });
            }).fail(function () {
                console.error("Error al cargar los tipos de teléfono.");
            });
        }

        $(document).ready(function () {
            cargarTiposCliente();
            cargarTiposTelefono();
        });

        //***************************************************************************************************** */
        //***************************************Direcciones************************************************************** */
        //***************************************************************************************************** */

        var DireccionSeleccionada;
        var tablaDirecciones;
        var FiladireccionesSeleccionada;

           function cargarDireccionesCliente(ClienteID) {
               if ($.fn.DataTable.isDataTable("#tablaDirecciones")) {
                   $("#tablaDirecciones").DataTable().destroy();
               }

                 tablaDirecciones = $("#tablaDirecciones").DataTable({
                        responsive: true,
                        ordering: false,
                        "ajax": {
                            url: '@Url.Action("ListarDirecciones", "Cliente")',
                            type: "GET",
                            data: { ClienteID: ClienteID },
                            datatype: "json",
                        },
                        "columns": [
                            { "data": "NombreDireccion" },
                            { "data": "DireccionDetallada" },
                            { "data": "ProvinciaDescripcion" },
                            { "data": "CantonDescripcion" },
                            { "data": "DistritoDescripcion" },
                            {
                                "defaultContent": '<div class="btn-group">' +
                                    '<button type="button" class="btn btn-primary btn-small btn-editar-Direccion"><i class="fas fa-pen"></i></button>' +
                                    '<button type="button" class="btn btn-danger btn-small ms-2 btn-eliminar-Direccion"><i class="fas fa-trash"></i></button>' +
                                    '</div>',
                                "orderable": false,
                                "searchable": false,
                                "width": "200px"
                            }
                        ],
                        "language": {
                            "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                        }
                 });

               // Asegurarse de que los eventos se adjunten después de la inicialización de la tabla
               $("#tablaDirecciones tbody").on("click", ".btn-editar-Direccion", function () {
                   DireccionSeleccionada = $(this).closest("tr");
                   var data = tablaDirecciones.row(DireccionSeleccionada).data();
                   abrirModalDireccion(data);
               });

               $('#tablaDirecciones tbody').on('click', '.btn-eliminar-Direccion', function () {
                   var data = tablaDirecciones.row($(this).parents('tr')).data();
                   eliminarDireccion(data.DireccionID);
               });
            }




        function abrirModalDireccion(json) {
            $("#DireccionID").val(0);
            $("#direccion").val("");
            $("#direccionDetallada").val("");
            $("#provinciaID").val(0);
            $("#cantonID").val(0);
            $("#distritoID").val(0);
            $("#mensajeErrorDireccion").hide();

            if (json != null) {
                $("#DireccionID").val(json.DireccionID);
                $("#direccion").val(json.NombreDireccion);
                $("#direccionDetallada").val(json.DireccionDetallada);
                $("#provinciaID").val(json.ProvinciaID);
                $("#cantonID").val(json.CantonID);
                $("#distritoID").val(json.DistritoID);
                $("#exampleModalLabel").text("Editar Dirección");
            } else {
                $("#exampleModalLabel").text("Agregar Dirección");
            }

            $("#FormModalDireccion").modal("show");
        }

       function GuardarDireccion() {
            var Direccion = {
                DireccionID: parseInt($("#DireccionID").val()),
                NombreDireccion: $("#direccion").val(),
                DireccionDetallada: $("#direccionDetallada").val(),
                ProvinciaID: parseInt($("#provinciaID").val()),
                CantonID: parseInt($("#cantonID").val()),
                DistritoID: parseInt($("#distritoID").val()),
                ClienteID: clienteSeleccionado
            };

            if (Direccion.NombreDireccion === "" || Direccion.DireccionDetallada === "" || Direccion.ProvinciaID === 0 || Direccion.CantonID === 0 || Direccion.DistritoID === 0) {
                $("#mensajeErrorDireccion").show();
                return;
            } else {
                $("#mensajeErrorDireccion").hide();
            }

            $.ajax({
                url: '@Url.Action("GuardarDireccion", "Cliente")',
                type: "POST",
                data: JSON.stringify({ direccion: Direccion }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        tablaDirecciones.ajax.reload();
                        $("#FormModalDireccion").modal("hide");
                    } else {
                        $("#mensajeErrorDireccion").text(data.mensaje);
                        $("#mensajeErrorDireccion").show();
                    }
                },
                error: function (error) {
                    $("#mensajeErrorDireccion").text("Error Ajax");
                    $("#mensajeErrorDireccion").show();
                }
            });
        }

       function eliminarDireccion(direccionID) {
            swal({
                title: "¿Estás seguro?",
                text: "¡No podrás recuperar este archivo imaginario!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "¡Sí, bórralo!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("EliminarDireccion", "Cliente")',
                    type: "POST",
                    data: JSON.stringify({ direccionID: direccionID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tablaDirecciones.row($(this).parents('tr')).remove().draw();
                            swal("¡Eliminado!", "La dirección ha sido eliminada.", "success");
                        } else {
                            swal("Error", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        swal("Error", "Hubo un problema con la solicitud.", "error");
                    }
                });
            });
        }

         function cargarProvincias() {
            $.get('@Url.Action("ListarProvincia", "Gestionar")', function (data) {
                var provinciaDropdown = $("#provinciaID");
                provinciaDropdown.empty();
                provinciaDropdown.append('<option value="0">Seleccione una Provincia</option>');
                $.each(data.data, function (index, item) {
                    provinciaDropdown.append($('<option>', {
                        value: item.ProvinciaID,
                        text: item.Descripcion
                    }));
                });
            });
        }

       function cargarCantones() {
            var provinciaID = $("#provinciaID").val();
            if (provinciaID > 0) {
                $.get('@Url.Action("ListarCantonesPorProvincia", "Gestionar")', { provinciaID: provinciaID }, function (data) {
                    var cantonDropdown = $("#cantonID");
                    cantonDropdown.empty();
                    cantonDropdown.append('<option value="0">Seleccione un Cantón</option>');
                    $.each(data.data, function (index, item) {
                        cantonDropdown.append($('<option>', {
                            value: item.CantonID,
                            text: item.Descripcion
                        }));
                    });
                });
            } else {
                $("#cantonID").empty();
                $("#cantonID").append('<option value="0">Seleccione un Cantón</option>');
            }
        }

        function cargarDistritos() {
            var cantonID = $("#cantonID").val();
            if (cantonID > 0) {
                $.get('@Url.Action("ListarPorCanton", "Gestionar")', { cantonID: cantonID }, function (data) {
                    var distritoDropdown = $("#distritoID");
                    distritoDropdown.empty();
                    distritoDropdown.append('<option value="0">Seleccione un Distrito</option>');
                    $.each(data.data, function (index, item) {
                        distritoDropdown.append($('<option>', {
                            value: item.DistritoID,
                            text: item.Descripcion
                        }));
                    });
                });
            } else {
                $("#distritoID").empty();
                $("#distritoID").append('<option value="0">Seleccione un Distrito</option>');
            }
        }

        $(document).ready(function () {
            cargarProvincias();
        });


    </script>
    <script>
        $(document).ready(function () {
            // Botón para iniciar el tutorial
            $('#startTutorial').click(function () {
                introJs().setOptions({
                    steps: [
                        {
                            intro: "Bienvenido al tutorial de 'Clientes'. Aquí te mostramos cómo gestionar los clientes registrados."
                        },
                        {
                            element: '.btn-success',
                            intro: "Este botón te permite agregar un nuevo cliente."
                        },
                        {
                            element: '#tabla',
                            intro: "Esta es la tabla donde se muestran todos los clientes registrados."
                        },
                        {
                            intro: "En cada fila de la tabla, puedes ver los detalles del cliente, incluyendo su nombre, cédula, correo y más."
                        },
                        {
                            element: '.btn-editar',
                            intro: "Usa este botón para editar la información de un cliente existente."
                        },
                        {
                            element: '.btn-eliminar',
                            intro: "Usa este botón para eliminar un cliente."
                        },
                        {
                            element: '.btn-telefonos',
                            intro: "Usa este botón para ver y gestionar los teléfonos del cliente."
                        },
                        {
                            element: '.btn-direcciones',
                            intro: "Usa este botón para ver y gestionar las direcciones del cliente."
                        },
                        {
                            element: '.btn-pagos',
                            intro: "Usa este botón para ver pagos del cliente."
                        },
                        {
                            intro: "Esto concluye el tutorial de 'Clientes'. ¡Gracias por tu atención!"
                        }
                    ],
                    showProgress: true,
                    exitOnOverlayClick: false,
                    exitOnEsc: true,
                    showStepNumbers: true,
                    nextLabel: 'Siguiente',
                    prevLabel: 'Anterior',
                    skipLabel: 'Salir',
                    doneLabel: 'Finalizar'
                }).start();
            });
        });
    </script>
}
