<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap' rel='stylesheet'>
    <title>@ViewBag.Title - Dunamis</title>
    @Styles.Render("~/Content/css")
    <link href='~/Content/css/Layout..css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/introjs.min.css" rel="stylesheet">
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark">
        <a class="navbar-brand ps-3" href="@Url.Action("Index", "Home")">Dunamis_SA</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="@Url.Action("CerrarSesion", "Acceso")">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @if (Session["Rol"] != null && (Session["Rol"].ToString() == "Administrador" || Session["Rol"].ToString() == "Servicio al Cliente" || Session["Rol"].ToString() == "Facturador"))
                        {
                            <div class="sb-sidenav-menu-heading">Cotizar Carga</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCotizarCarga" aria-expanded="false" aria-controls="collapseCotizarCarga">
                                <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                                Cotizar Carga
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseCotizarCarga" aria-labelledby="headingSeven" data-bs-parent="#collapseMantenimiento">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("CotizarCarga", "CotizarCarga")">Cotizar carga</a>
                                    <a class="nav-link" href="@Url.Action("CargasCotizadas", "CotizarCarga")">Cargas Cotizadas</a>
                                </nav>
                            </div>
                        }
                        @if (Session["Rol"] != null && (Session["Rol"].ToString() == "Administrador" || Session["Rol"].ToString() == "Facturador"))
                        {
                            <div class="sb-sidenav-menu-heading">Facturar</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFacturar" aria-expanded="false" aria-controls="collapseFacturar">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-invoice"></i></div>
                                Facturar
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFacturar" aria-labelledby="headingFacturar" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("Facturar", "Facturar")">Facturar</a>
                                    <a class="nav-link" href="@Url.Action("FacturasGuardadas", "Facturar")">Facturas guardadas</a>
                                </nav>
                            </div>
                        }
                        @if (Session["Rol"] != null && Session["Rol"].ToString() == "Administrador")
                        {
                            <div class="sb-sidenav-menu-heading">Reportes</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseReportes" aria-expanded="false" aria-controls="collapseReportes">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                                Reportes
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseReportes" aria-labelledby="headingReportes" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("MontosPorTiposCargas", "Reportes")">Montos totales cobrados</a>
                                    <a class="nav-link" href="@Url.Action("MontosPorConceptoDescuentos", "Reportes")">Montos por concepto de descuentos</a>
                                    <a class="nav-link" href="@Url.Action("MontosPorPeriodo", "Reportes")">Conceptos por periodos</a>
                                </nav>
                            </div>
                        }
                        <div class="sb-sidenav-menu-heading">Clientes</div>
                        <a class="nav-link" href="@Url.Action("Clientes","Cliente")">Clientes</a>



                        @if (Session["Rol"] != null && Session["Rol"].ToString() == "Administrador")
                        {
                            <div class="sb-sidenav-menu-heading">Mantenimiento</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMantenimiento" aria-expanded="false" aria-controls="collapseMantenimiento">
                                <div class="sb-nav-link-icon"><i class="fas fa-tools"></i></div>
                                Mantenimiento
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseMantenimiento" aria-labelledby="headingMaintenance" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <div class="sb-sidenav-menu-heading">Descuentos e Impuestos</div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDescuentosImpuestos" aria-expanded="false" aria-controls="collapseDescuentosImpuestos">
                                        <div class="sb-nav-link-icon"><i class="fas fa-percentage"></i></div>
                                        Descuentos e Impuestos
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapseDescuentosImpuestos" aria-labelledby="headingTwo" data-bs-parent="#collapseMantenimiento">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="@Url.Action("Descuentos","Descuento")">Descuentos</a>
                                            <a class="nav-link" href="@Url.Action("Impuesto","Impuesto")">Impuestos</a>
                                        </nav>
                                    </div>

                                    <div class="sb-sidenav-menu-heading">Ubicaciones</div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUbicaciones" aria-expanded="false" aria-controls="collapseUbicaciones">
                                        <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                                        Provincias, Cantones y Distritos
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapseUbicaciones" aria-labelledby="headingThree" data-bs-parent="#collapseMantenimiento">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="@Url.Action("Provincia","Gestionar")">Provincias</a>
                                            <a class="nav-link" href="@Url.Action("Canton","Gestionar")">Cantones</a>
                                            <a class="nav-link" href="@Url.Action("Distrito","Gestionar")">Distritos</a>
                                        </nav>
                                    </div>

                                    <div class="sb-sidenav-menu-heading">Contactos</div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseContactos" aria-expanded="false" aria-controls="collapseContactos">
                                        <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
                                        Administrar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapseContactos" aria-labelledby="headingFour" data-bs-parent="#collapseMantenimiento">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="@Url.Action("TipoCorreo","Gestionar")">Tipos de Correo</a>
                                            <a class="nav-link" href="@Url.Action("TipoTelefono","Gestionar")">Tipos de Teléfono</a>
                                            <a class="nav-link" href="@Url.Action("TipoPago","Gestionar")">Tipos de Pago</a>
                                        </nav>
                                    </div>

                                    <div class="sb-sidenav-menu-heading">Tipos</div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTipos" aria-expanded="false" aria-controls="collapseTipos">
                                        <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                                        Tipos
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapseTipos" aria-labelledby="headingSix" data-bs-parent="#collapseMantenimiento">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="@Url.Action("TipoCliente","Gestionar")">Tipo de Clientes</a>
                                            <a class="nav-link" href="@Url.Action("TipoImpuestos","Gestionar")">Tipos de Impuestos</a>
                                            <a class="nav-link" href="@Url.Action("TipoDescuentos","Gestionar")">Tipos de Descuentos</a>
                                            <a class="nav-link" href="@Url.Action("TiposDeCarga","Gestionar")">Tipos de Carga</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>



                            <div class="sb-sidenav-menu-heading">Seguridad</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSeguridad" aria-expanded="false" aria-controls="collapseSeguridad">
                                <div class="sb-nav-link-icon"><i class="fas fa-shield-alt"></i></div>
                                Seguridad
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseSeguridad" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("Usuarios","Usuario")">Usuarios</a>
                                    <a class="nav-link" href="@Url.Action("Roles","Administrar")">Roles</a>
                                    <a class="nav-link" href="@Url.Action("Permisos","Gestionar")">Permisos</a>
                                </nav>
                            </div>
                        }
                    </div>

                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Bienvenido:</div>
                    @if (Session["NombreUsuario"] != null)
                    {
                        <span>
                            @Session["NombreUsuario"]
                            @Session["Rol"]
                        </span>
                    }
                    else
                    {
                        <span>Invitado</span>
                    }
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">&copy; Dunamis @DateTime.Now.Year</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/intro.min.js"></script>


    <!-- ... otros contenidos ... -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
            $(document).ready(function () {
                $('#startTutorial').click(function () {
                    // Expande todas las secciones inicialmente
                    $('.collapse').collapse('show');

                    introJs().setOptions({
                        steps: [
                            {
                                intro: "Bienvenido al Sistema de Cotización de Cargas Dunamis. Te guiaremos a través de las diferentes secciones del sistema."
                            },
                            {
                                element: '.navbar-brand',
                                intro: "Este es el logo y título del sistema que te lleva de vuelta a la página de inicio desde cualquier parte del sistema."
                            },
                            {
                                element: '#sidebarToggle',
                                intro: "Este botón permite colapsar o expandir el menú de navegación lateral para maximizar el espacio de trabajo."
                            },
                            {
                                element: '.fa-user',
                                intro: "Aquí puedes acceder a las opciones del usuario, incluyendo cerrar sesión."
                            },
                            {
                                element: '#sidenavAccordion',
                                intro: "Este es el menú de navegación lateral donde puedes acceder a las diferentes funcionalidades del sistema."
                            },
                            {
                                element: '#collapseCotizarCarga',
                                intro: "En esta sección puedes cotizar diferentes tipos de carga y ver las cotizaciones guardadas."
                            },
                            {
                                element: 'a[href*="CotizarCarga"]',
                                intro: "Aquí puedes cotizar una nueva carga."
                            },
                            {
                                element: 'a[href*="CargasCotizadas"]',
                                intro: "Aquí puedes ver las cotizaciones de carga guardadas."
                            },
                            {
                                element: '#collapseFacturar',
                                intro: "En esta sección puedes facturar las cargas cotizadas y ver las facturas guardadas."
                            },
                            {
                                element: 'a[href*="Facturar"]',
                                intro: "Aquí puedes facturar una nueva carga."
                            },
                            {
                                element: 'a[href*="FacturasGuardadas"]',
                                intro: "Aquí puedes ver las facturas guardadas."
                            },
                            {
                                element: '#collapseReportes',
                                intro: "En esta sección puedes ver diversos reportes relacionados con las cargas y facturas."
                            },
                            {
                                element: 'a[href*="MontosPorTiposCargas"]',
                                intro: "Aquí puedes ver los montos totales cobrados por tipo de carga."
                            },
                            {
                                element: 'a[href*="MontosPorConceptoDescuentos"]',
                                intro: "Aquí puedes ver los montos por concepto de descuentos."
                            },
                            {
                                element: 'a[href*="MontosPorPeriodo"]',
                                intro: "Aquí puedes ver los conceptos por periodos."
                            },
                            {
                                element: 'a[href*="Cliente"]',
                                intro: "Aquí puedes gestionar la información de los clientes."
                            },
                            {
                                element: '#collapseMantenimiento',
                                intro: "En esta sección puedes gestionar descuentos, impuestos, ubicaciones, contactos y tipos relacionados con la empresa."
                            },
                            {
                                element: 'a[href*="Descuentos"]',
                                intro: "Aquí puedes gestionar los descuentos."
                            },
                            {
                                element: 'a[href*="Impuesto"]',
                                intro: "Aquí puedes gestionar los impuestos."
                            },
                            {
                                element: 'a[href*="Provincia"]',
                                intro: "Aquí puedes gestionar las provincias."
                            },
                            {
                                element: 'a[href*="Canton"]',
                                intro: "Aquí puedes gestionar los cantones."
                            },
                            {
                                element: 'a[href*="Distrito"]',
                                intro: "Aquí puedes gestionar los distritos."
                            },
                            {
                                element: 'a[href*="TipoCorreo"]',
                                intro: "Aquí puedes gestionar los tipos de correo."
                            },
                            {
                                element: 'a[href*="TipoTelefono"]',
                                intro: "Aquí puedes gestionar los tipos de teléfono."
                            },
                            {
                                element: 'a[href*="TipoPago"]',
                                intro: "Aquí puedes gestionar los tipos de pago."
                            },
                            {
                                element: 'a[href*="TipoCliente"]',
                                intro: "Aquí puedes gestionar los tipos de cliente."
                            },
                            {
                                element: 'a[href*="TipoImpuestos"]',
                                intro: "Aquí puedes gestionar los tipos de impuestos."
                            },
                            {
                                element: 'a[href*="TipoDescuentos"]',
                                intro: "Aquí puedes gestionar los tipos de descuentos."
                            },
                            {
                                element: 'a[href*="TiposDeCarga"]',
                                intro: "Aquí puedes gestionar los tipos de carga."
                            },
                            {
                                element: '#collapseSeguridad',
                                intro: "En esta sección puedes gestionar usuarios, roles y permisos de acceso al sistema."
                            },
                            {
                                element: 'a[href*="Usuarios"]',
                                intro: "Aquí puedes gestionar los usuarios."
                            },
                            {
                                element: 'a[href*="Roles"]',
                                intro: "Aquí puedes gestionar los roles."
                            },
                            {
                                element: 'a[href*="Permisos"]',
                                intro: "Aquí puedes gestionar los permisos."
                            },
                            {
                                intro: "Esto concluye el tutorial del menú del sistema. ¡Gracias por tu atención!"
                            }
                        ],
                       showProgress: true,
                        exitOnOverlayClick: false,
                        exitOnEsc: true,
                        showStepNumbers: true,
                        nextLabel: 'Siguiente',
                        prevLabel: 'Anterior',
                        skipLabel: 'Salir',
                        doneLabel: 'Finalizar'
                    }).oncomplete(function() {
                        swal({
                            title: '¿Quieres continuar con una simulación de una cotización?',
                            text: '',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Sí',
                            cancelButtonText: 'No',
                            closeOnConfirm: false,
                            closeOnCancel: true
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                    window.location.href = '@Url.Action("CotizarCarga", "CotizarCarga")#tutorial';
                               }
                        });
                    }).start();
                });
            });


</script>
    

</body>


</html>
